# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData

# RStudio files
.Rproj.user/

# data files
*.txt
*.log
*.vcf
*idx
*.bed
*.bim
*.fam
*.map
*.ped
*.gz
